.containerListado{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .mat-header-cell {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      background-color: rgb(56, 56, 56);
      color: white;
    }
    
    .mat-cell {
      text-align: center;
      justify-content:center;
      text-size-adjust: auto;
    }
  
    .mat-tab-body-content {
      height: 250px; /* ajusta la altura según tus necesidades */
    }
  
  
    input[readonly] {
      background-color: bisque;;
    }
  
    .modal-backdrop {
      width: auto !important;
    }
  